<% career = @career %>
<div class="container-fluid">
  <%= render "navigation/index" %>
  <div class="main-content">
    <section class="career-banner">
      <div class="career-banner__bg">
        <%= image_tag career.photo_large, alt: 'career banner', lazy: true, class: "lazy-load"%>
      </div>
    </section>
    <section class="career-desc" id="career-desc">
      <div class="career-desc__main-container">
        <div class="career-desc__main-content">
          <h2 class="career-desc__title"><%= career.title%></h2>
          <section class="career-desc__about">
            <h2 class="main-title">About the job</h2>
            <p><%= career.about_job.html_safe %></p>
          </section>
          <section class="career-desc__what-to-do">
            <h2 class="main-title">What you'll do</h2>
            <%= career.what_will_do.html_safe %>
          </section>
          <!-- <section class="career-desc__social-networks">
            <i class="icon i-social i-facebook" aria-hidden="true"></i>
            <i class="icon i-social i-twitter" aria-hidden="true"></i>
            <a href="mailto:"><i class="icon i-social i-envelope"></i></a>
            <a href="javascript:void(0);"><i class="icon i-social i-print"></i></a>
          </section> -->
        </div>
      </div>
      <div class="career-desc__news-container" id="feature-news">
        <section class="career-desc__feature-news career-desc__interest">
          <h2>Interests</h2>
          <% career.interests.each do |interest| %>
            <div class="career-desc__interest-item">
              <div class="career-desc__interest-icon">
                <% if interest.url.present? %>
                  <%= image_tag(interest.home_url, :alt => "interest icon") %>
                <% else %>
                  <%= image_tag("", :alt => "interest icon") %>
                <% end %>
              </div>
              <div class="career-desc__interest-text">
                <p title="<%= interest %>"><%= interest %></p>
              </div>
            </div>
          <%end%>
        </section>
        <!-- <section class="career-desc__feature-news">
          <h2>Feature news</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eos tenetur est quo cum a, esse iusto nemo commodi eius deleniti totam, error nam! Nemo aliquid impedit obcaecati mollitia perspiciatis.</p>
          <a href="javascript:void(0);" class="btn-feature-more"></a>
        </section> -->
      </div>
    </section>
    <section class="career-map top-jobs row">
      <div class="data-map-hidden" id="careerMapData"><%= @regions.to_json%></div>
      <div class="jobs-container">
        <div class="career-map__title map-title shadow-main-title">
          <h2 class="main-title career-title career-title--pull-left" id="career-name" title="<%= career.title%>"><%= career.title %></h2>
          <h2 class="main-title career-title career-title--pull-right">Statistics By Region</h2>
        </div>
        <div class="top-jobs__map top-jobs__map-details" id="career-map">
          <%= render "career/partial/map" %>
        </div>
        <div class="career-map__details map-details">
          <h3 class="region-name region-name--careers" id="region-name"></h3>
          <ul class="job-list career-options" id="region-career-options">
            <li id="career-salary"></li>
            <li id="career-certificate" class="career-certificate"></li>
            <li id="career-flames" class="career-map-flames">
            </li>
          </ul>
        </div>
        <p class="asterisk-copy asterisk-copy--map">&ast; For this career, it’s recommended that you have this type of education. </p>
    </section>
    <section class="search-bar find-programs search-bar-group">
      <h2 class="find-programs__title main-title">Like this career? Find programs near you.</h2>
      <form name="search-career" id="search-career-detail">
        <div class="input-group search-group">
          <input class="form-control search-input" id="programAutocompleteCareers" type="text" name="search-input" value="<%= career.title %>"/>
          <div class="form-group btn btn-search btn-region">
            <select class="form-control">
              <option value="" disabled selected>Region</option>
              <% @list_of_regions.each do |region|%>
                <option value="<%= region.id %>"><%= region.name %></option>
              <% end %>
            </select>
            <span class="fa fa-caret-down"></span>
          </div>
          <button type="submit" class="btn btn-search btn-submit">Search</button>
        </div>
        <div class="alert alert-danger alert-danger-search alert-danger-search-group alert-danger-career-details">
          <p class="errors">Careers name and region are required</p>
        </div>
        <div class="alert alert-danger alert-danger-search alert-danger-search--career alert-danger-career-details">
          <p class="errors">Careers name is required</p>
        </div>
        <div class="alert alert-danger alert-danger-search alert-danger-search--region alert-danger-career-details">
          <p class="errors">Region is required</p>
        </div>
      </form>
      <div class="auto-fill-data" id="availableProgramCareer"><%= @list_of_careers.to_json %></div>
    </section>
    <% if @career.profiles.first.present? %>
      <section class="story-owner row">
        <div class="col-xs-6 col-md-6 pull-right story-owner__content">
          <h2 class="story-owner__title main-title"><%= @career.profiles.first %></h2>
          <a href="<%= profile_detail_path(@career.profiles.first) %>" class="story-owner__link"></a>
        </div>
        <div class="story-owner__photo">
          <%= image_tag @career.profiles.first.image_large, lazy: true, class: "lazy-load" %>
        </div>
      </section>
    <% end %>
    <section class="related-careers">
      <% related_by_interests = @career.related_by_interests.first(3) %>
      <% interests = @career.interests %>
      <% has_interests  = related_by_interests.present? %>
      <% if has_interests %>
        <section class="related-careers__content">
          <div class="related-careers-container <%= has_interests ? 'career-interest-active' : 'career-skill-active' %>">
            <div class="related-careers__header">
              <h2 class="related-careers__title main-title shadow-main-title">Find Related Careers Based on Interests</h2>
              <div class="related-careers__sort-by">
                <div class="career-desc__feature-news related-careers__icon-interest">
                  <% interests.each do |interest| %>
                    <div class="career-desc__interest-item related-careers__interest">
                      <div class="career-desc__interest-icon">
                      <% if interest.url.present? %>
                        <%= image_tag(interest.url, :alt => "interest icon") %>
                      <% else %>
                        <%= image_tag("", :alt => "interest icon") %>
                      <% end %>
                      </div>
                      <div class="career-desc__interest-text related-career-interest">
                        <p title="<%= interest %>"><%= interest %></p>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <% if has_interests %>
              <div class="related-careers__items row" id="careers-by-interests">
                <%= render partial: "career/partial/related-career-by-interest", locals: { related_by_interests: related_by_interests } %>
              </div>
            <% end %>
          </div>
        </section>
      <% end %>
      <section class="want-to-talk guided-journey__box career-guided-journey">
        <div class="career-guided-journey__content">
          <h2 class="main-title want-to-talk__title">Want to talk?</h2>
          <p class="journey-link want-to-talk__link">
            <span>1-844-LA-CALLS</span>
          </p>
        </div>
      </section>
    </section>
  </div>

  <%= render "footer/index" %>
</div>
