<% @careers_slider.each_with_index do |career, index| %>
  <%- class_name = index == 0 ? 'carousel-item active' : 'carousel-item' %>
  <div class='<%= class_name %>' >
    <section class="career-shortcut career-carousels__item">
      <div class="career-shortcut__container career-carousel-container">
        <div class="career-shortcut__head career-carousel-head">
          <div class="career-shortcut__head--pull-left">
            <div class="career-head-left">
              <div class="career-flames">
                <% career.demand.to_i.times do |time| %>
                  <div class="career-flames__item">
                    <%= image_tag asset_path("careers/fire-icon.png"), alt: "fire icon" %>
                  </div>
                <% end %>
              </div>
              <a href="<%=career_detail_path(career.slug)%>" class="career-info-title" title="<%=career.title%>">
                <%= truncate(career.title, length: 65) %>
              </a>
            </div>
          </div>
          <div class="career-shortcut__head--pull-right">
            <a class="career-shortcut__btn-more" href="<%=career_detail_path(career.slug)%>">
              <%= image_tag asset_path("tell-me-more.png"), alt: "tell me more" %>
            </a>
            <div class="career-shortcut__salary">
              <div class="icon i-career-salary i-career-salary-carousel"></div>
              <p>$<%= number_with_delimiter(career.salary_min, :delimiter => ',') %> - $<%= number_with_delimiter(career.salary_max, :delimiter => ',') %></p>
            </div>
          </div>
        </div>
        <div class="career-shortcut__body">
          <p>Interests</p>
          <ul class="career-interests">
            <% career.interests.first(3).each do |interest| %>
              <li>
                <div class="career-interest-icon">
                  <%= image_tag "#{interest.url}", :alt => "#{interest}" %>
                </div>
                <p class="career-interest-text">
                  <%= truncate(interest.to_s, length: 25) %>
                </p>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </section>
  </div>
<% end %>