<div class="container-fluid">
  <%= render "navigation/index" %>
  <div class="main-content">
    <section class="hero-slider">
      <div id="carousel-banner" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators carousel-dots-list">
          <li data-target="#carousel-banner" data-slide-to="0" class="active carousel-dots"></li>
          <li data-target="#carousel-banner" data-slide-to="1" class="carousel-dots"></li>
        </ol>
        <div class="carousel-inner carousel-content" role="listbox">
          <%- @videos.each_with_index do |video, idx| %>
            <div class="carousel-item <%= idx == 0 ? 'active' : '' %>">
              <video muted class="video-playing video-player">
                <source src="<%= video.url if video %>" type="video/mp4">
              </video>
              <div class="carousel-caption carousel-title">
                <button type="button" class="btn-play btn-play-video" data-source="play-video-<%= video.present? ? video.id : '' %>" data-toggle="modal" data-target="#videoModal"></button>
                <p><%= "Watch #{video.profile.first_name}'s Story" %></p>
              </div>
            </div>
          <% end %>
        </div>
        <a class="left carousel-control carousel-control--beside" href="#carousel-banner" role="button" data-slide="prev">
          <span class="icon-prev" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control carousel-control--beside" href="#carousel-banner" role="button" data-slide="next">
          <span class="icon-next" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="hero-banner-home">
        <h1 class="hero-banner-home__title">Your life's calling.</h1>
        <div class="carousel-text">
          <h2 class="hero-banner-home__text">The future you know you want starts right now. Not tomorrow. Right. Now.</h2>
          <h2 class="hero-banner-home__text">All you need is a little help and the right resources. We’ve got them all right here.</h2>
          <h2 class="hero-banner-home__text">So stop waiting — today’s a great time to start changing your life.</h2>
        </div>
      </div>

        <!-- Modal -->
        <div class="modal fade modal-video" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-video__content" role="document">
            <%- @videos.each_with_index do |video, idx| %>
              <div class="modal-video__details" id="play-video-<%= video.id %>">
                <div class="video-container">
                  <p class="modal-video__close">Close</p>
                  <video class="video-playing video-player">
                    <source src="<%= video.url %>" type="video/mp4">
                  </video>
                  <div class="button-pause" style="display: none;"><i class="icon-pause"></i></div>
                </div>
                <%- if video.profile.present? %>
                  <div class="modal-video__desc">
                    <div class="modal-video__text">
                      <h2><%= video.profile %></h2>
                      <p><%= raw video.description %></p>
                    </div>
                     <div class="btn-tell-more">
                      <a href="<%= profile_detail_path(video.profile) %>">
                        <div class="btn-profile-more btn-tell-me-more"></div>
                      </a>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
    </section>
    <section class="search-bar row search-bar-group">
      <form name="search-homepage" id="searchHomepage">
        <div class="input-group search-group">
          <input class="form-control search-input" type="text" name="search-input" placeholder="Search for careers, like 'welders'." id="autocompleteCareers"/>
          <!-- <div class="form-group btn btn-search btn-region">
            <select class="form-control">
              <option value="" disabled selected>Region</option>
              <% @regions.each do |region|%>
                <option value="<%= region.id %>"><%= region.name %></option>
              <% end %>
            </select>
            <span class="fa fa-caret-down"></span>
          </div> -->
          <div class="form-group btn btn-search btn-career">
            <select class="form-control">
              <option value="careers" selected>Find Careers</option>
              <option value="programs">Find Programs</option>
            </select>
            <span class="fa fa-caret-down">
          </div>
          <button type="submit" class="btn btn-search btn-submit">Search</button>
        </div>
        <!-- <div class="alert alert-danger alert-danger-search alert-danger-search-group">
          <p class="errors">Careers name and region are required</p>
        </div> -->
        <div class="alert alert-danger alert-danger-search alert-danger-search-text">
          <p class="errors">Please input Career or Program name</p>
        </div>
        <!-- <div class="alert alert-danger alert-danger-search alert-danger-search--region">
          <p class="errors">Region is required</p>
        </div> -->
      </form>
      <div class="search-bg">
        <%= image_tag(asset_path("bg-search-careers.jpg"), alt: "Search background") %>
      </div>
      <div class="auto-fill-data" id="availableProgramCareer"><%= @careers_and_programs.to_json %></div>
    </section>
    <section class="guided-journey row">
      <section class="col-xs-6 col-md-6 guided-journey__box find-your-path">
        <h2 class="main-title find-your-path__title">Not sure what to do?</h2>
        <a href="/guided-journey" class="journey-link find-your-path__link"></a>
      </section>
      <section class="col-xs-6 col-md-6 guided-journey__box want-to-talk">
        <h2 class="main-title want-to-talk__title">Want to talk?</h2>
        <p class="journey-link want-to-talk__link">
          <span>1-844-LA-CALLS</span>
        </p>
      </section>
    </section>
    <section class="career-carousels">
      <span class="career-shortcut__label career-slide-label">Great jobs. Right now.</span>
      <div id="carousel-great-jobs" class="carousel slide career-carousel-content" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <%= render "home/partial/career-carousel" %>
        </div>
        <ol class="carousel-indicators carousel-dots-list career-carousel-dots">
          <%= render "home/partial/slider-dot" %>
        </ol>
        <a href="#carousel-great-jobs" class="left carousel-control career-carousel-control carousel-control--beside" role="button" data-slide="prev">
          <span class="career-arrow icon-prev i-career-prev" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a href="#carousel-great-jobs" class="right carousel-control career-carousel-control carousel-control--beside" role="button" data-slide="next">
          <span class="career-arrow icon-next i-career-next" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>
  </div>

  <%= render "footer/index" %>
</div>
